html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Arial", "Roboto", "Open Sans", "Helvetica Neue", "Helvetica",  sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    margin: 0px;
    /* Margin bottom by footer height*/
    margin-bottom: 55px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
    font-size: 14.5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    padding: 0px;
}

footer > .content {
padding-right: 0px;
padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
}

/* ::-webkit-scrollbar {
-webkit-appearance: none;
width: 7px;
height: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

.page-footer {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

.col {
  overflow: hidden;
}

.s12 {
  overflow: hidden;
}

@font-face {
    font-family: ParryHotter;
    src:
            url("/fonts/ParryHotter.ttf");
}

@font-face {
    font-family: HarryPotter;
    src:
            url("/fonts/HARRP___.TTF");
}

@font-face {
    font-family: Roboto-Regular;
    src:
            url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src:
            url("/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Dosis-Regular;
    src:
            url("/fonts/Dosis-Regular.ttf");
}

@font-face {
    font-family: Dosis-Light;
    src:
            url("/fonts/Dosis-Light.ttf");
}

h1, h2 {
  font-family: Roboto-Regular;
}

a, h3, h4, h5 {
    font-family: Dosis-Light;
    margin-left: 5px;
}

p {
    font-family: Roboto-Light;
}

label {
    opacity: 1;
    font-family: Dosis-Regular;
    color: #555;
    line-height: 2.5;
    font-size: 1rem;
}

.hp {
    font-family: HarryPotter, ParryHotter;
    font-size: 20pt;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
}

.card-panel {
    background-color:#3F48CC;
    color:white;
    font-weight:bold;
}

div.row.label {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    /*width: 60px;
    height: 28px;*/
    padding: 2px;
    font: 12px sans-serif;
    background: navy;
    color: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

text.phagename {
    cursor: ns-resize;
}

text.horizontalAlign {
  cursor: ew-resize;
}

#preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translateY(10%);
}

#profilepic {
    opacity: 0;
}

#genome-map {
  overflow: scroll;
}

.thumb_profilepic {
    position: float;
    max-height: 63px;
    width: auto;
    border: 0px;
    margin: 0px;
}

.carousel_position {
    height: auto;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
}

.acknowledgements_position {
    padding-top: 25px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 80px;
}

.textAlignment {
    margin-left: 25px;
    margin-right: 25px;
}

textarea {
    resize: none;
    font-family: monospace;
    font-size:14px;
    border:0;
    margin:0;
    outline:none;
    height:80%;
    max-width: 100%;
    max-height: 80%;
}

/* .modal {
    overflow: hidden;

}

.modal .modal-content {
    overflow-y: scroll;
} */

.modal .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h6 {
    display: block;
    font-size: 1.5em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
}

.ack_images {
    margin: auto;
    width: 50%;
}

#iron-router-progress {
    background-color : cyan;
    box-shadow       : 0 0 5px purple;
}

.progress {
    background-color: #2196f3;
    position: absolute;
    top: -7px;
    height: 65px;
    left: 0px;
}

#toolbar-phagelist {
    height: 55px;
    transition: transform 0.2s;
    transform: translate3d(0px, 0px, 0px);
    line-height: 45px;
}

.toolbar-buttons {
  opacity: 1;
  color: white;
  font-size: 15px;
  padding-top: 2.5px;
  padding-right: 30px;
}

.toolbar-icons {
  padding-right: 10px;
}

.LabPicture {
    border-radius: 0%;
    height: 300px;
    width: 225px;
    margin: 0px 0px 0px 0px;
}

figure {
  display: inline-block;
  height: 300px;
  width: 225px;
  margin: 0px 20px 100px 20px;
  padding-left: 0px;
  padding-right: 0px;
}

figcaption {
font-variant: small-caps;
font-size: 25px;
text-align: center;
padding-left: 0px;
padding-right: 10px;
margin: 0px 0px 0px 0px;
}

.highlighted {
  background-color: yellow;
}

.stats {
  font-family: Dosis-Light;
  font-size: 15px;
  position: left;
  margin-right: 10px;
  margin-left: 20px;
}

.stats-content{
  font-family: Dosis-Light;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 50px;
}

.stats-title {
  font-family: Dosis-Light;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.stats-data {
  font-family: Dosis-Light;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}
