html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    background: #fcfcfc url(/imgs/bg.jpg) repeat;
    margin: 0px;
    /* Margin bottom by footer height */
    margin-bottom: 70px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}

@media only screen and (min-width: 993px) {
    #content {
        margin-left: 240px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

footer > .content {
    padding-right: 15px;
    padding-left: 15px;
}

@font-face {
    font-family: ParryHotter;
    src:
            url("/fonts/ParryHotter.ttf");
}

@font-face {
    font-family: HarryPotter;
    src:
            url("/fonts/HARRP___.TTF");
}

label {
    color:#000;
    font-family: Arial;
}

.hp {
    font-family: HarryPotter;
}

header,
main,
footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.card-panel {
    background-color:#3F48CC;
    color:white;
    font-weight:bold;
}

div.tooltip {
    position: absolute;
    text-align: center;
    /*width: 60px;
    height: 28px;*/
    padding: 2px;
    font: 12px sans-serif;
    background: navy;
    color: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

#preloader {
    position: relative;
    top: 50%;
    display: none;
    transform: translateY(10%);
}

@media only screen and (min-width: 601px) {
    .container {
        width: 99%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 98%;
    }
}