<template name="cresawnlab">
  <div class="section blue darken-4 white-text text-darken-3">
      <div class="row container">
          <h2 class="header">The Lab</h2>
          <p class="white-text text-darken-1 flow-text">
            Phamerator is the creation of the Cresawn lab in James Madison University's Center for Genome and Metagenome Studies.
            Past and present members of the team include Kelly Degnon, Kaleigh Jaeger, Andrew Lambrechts, Brie Lewis, Grant Rybnicky, Rachael St. Jacques, Mia Wenzel.
          </p>

          <p class="white-text text-darken-1 flow-text">
            Phamerator was created for and with support from HHMI's SEA-PHAGES program, though access to the software is free for everyone. However, users must
            abide by the <a href="terms">terms and policies</a> for use of the site and use of the data.
          </p>
      </div>
  </div>

  <div class="parallax-container">
      <div class="parallax"><img class="responsive-img" src="images/coffee2.jpg"></div>
  </div>

</template>
