<template name="cresawnlab">
  <div class="section white darken-4 gray-text text-darken-2">
      <div class="row container lab">
          <h2 class="header">Meet the Team</h2>
          <p class="gray-text text-darken-1 flow-text">
            Phamerator is the creation of the Cresawn lab in James Madison University's Center for Genome and Metagenome Studies.
            Past and present members of the team are shown below.
          </p>
          <div class="portraits">
            <figure>
              <img class="LabPicture" src="http://i64.tinypic.com/2vm68fq.jpg" alt="Cresawn">
              <figcaption style="font-size: 25px;">dr. steven cresawn</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i67.tinypic.com/2dtnhz.jpg" alt="Grant">
              <figcaption>grant rybnicky</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i63.tinypic.com/20rtpv4.jpg" alt="Mia">
              <figcaption>mia wenzel</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i63.tinypic.com/4huom8.jpg" alt="Kelly">
              <figcaption>kelly degnon</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i65.tinypic.com/2cfzbdf.jpg" alt="Brie">
              <figcaption>brie lewis</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i68.tinypic.com/15plr1u.jpg" alt="Kaleigh">
              <figcaption>kaleigh jaeger</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i64.tinypic.com/2n6dfky.jpg" alt="Ben">
              <figcaption>ben stone</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i63.tinypic.com/az9k48.jpg" alt="Hollis">
              <figcaption>hollis young</figcaption>
            </figure>

            <figure>
              <img class="LabPicture" src="http://i67.tinypic.com/2emeq15.jpg" alt="Mecca">
              <figcaption>mecca baker</figcaption>
            </figure>
          </div>
          <p class="gray-text text-darken-1 flow-text">
            Phamerator was created for and with support from HHMI's SEA-PHAGES program, though access to the software is free for everyone. However, users must
            abide by the <a href="terms">terms and policies</a> for use of the site and use of the data.
          </p>
      </div>
  </div>

  <div class="parallax-container">
      <div class="parallax"><img class="responsive-img" src="images/coffee2.jpg"></div>
  </div>

</template>
