<template name="cresawnlab">
  <div class="section">
    <div class="row container">
      <h2 class="header hp" style="margin-bottom: 3.5rem;">The Lab</h2>

      <p>
        As the second iteration of our comparative genome browser, Phamerator.org is a completely rewritten
        application inspired by<a
          href=" https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-12-395">Phamerator</a>, our now
        retired desktop Linux application.<a
          href="https://academic.oup.com/bioinformatics/article/37/16/2464/5998668">Pdm_utils</a> is used for the phage
        genomics database management and protein phamily construction that you see on Phamerator.org. Interested in
        seeing your own phage genomics data set on Phamerator.org? Feel free to<a
          href="mailto:info@phamerator.org">reach out</a> and we'll be happy to help you
        get started.
      </p>
      <p>
        Past and present members of the Cresawn lab's Phamerator.org team include Madison Bendele, Isobel Cobb, Kelly
        Degnon, Kaleigh Jaeger, Andrew Lambrechts, Gabe Lewis, Grant Rybnicky, Rachael St. Jacques, and Mia Wenzel.
      </p>
      <p>
        Phamerator.org was created for and with support from HHMI's SEA-PHAGES program, without whose support this work
        would not have been possible.
        Users must abide by the<a href="terms">terms and policies</a> for use of the site and use of the data provided
        herein.
      </p>

    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src="images/coffee2.jpg"></div>
  </div>

</template>