<template name="domains">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">label</i>Terminase</div>
            <div class="collapsible-body"><p>DNA packaging enzyme for bacteriophages</p></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">label</i>Integrase</div>
            <div class="collapsible-body"><p>Recombinase that integrates phage DNA into the host genome</p></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">label</i>Endolysin A</div>
            <div class="collapsible-body"><p>Enzyme that cleaves peptidoglycan during lysis. This enzyme works in
            conjunction with Endolysin B and Holin in order to allow nascent phage particles to exit an infected
            cell upon completion of their morphogenesis.</p></div>
        </li>
    </ul>
</template>