<template name="domains">

    <div class="row">
        <div class="input-field col s6">
            <input value={{domainQuery}} id="domain_input" type="text" class="validate">
            <label class="active" for="domain_input">Domain</label>
        </div>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Domain Name</th>
                    <th>Domain ID</th>
                    <th>Description</th>
                    <th>GeneID</th>
                    <th>Match Start</th>
                    <th>Match End</th>
                    <th>E Value</th>
                </tr>
            </thead>

            <tbody>
                {{#each match in domainMatches}}
                <tr>
                    <td>{{match.domainname}}</td>
                    <td>{{match.DomainID}}</td>
                    <td>{{match.description}}</td>
                    <td>{{match.geneID}}</td>
                    <td>{{match.query_start}}</td>
                    <td>{{match.query_end}}</td>
                    <td>{{match.expect}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</template>