<template name="home">
    <div class="container">


                    <div>

                        <div class="carousel">

                            <a class="carousel-item" href="#one!"><img id="startingOff" src="carousel/navbar.png"></a>


                            <a class="carousel-item" href="#two!"><img id="account" src="carousel/signingIn.png">
                                <!--<alt>
                                    <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Account</a>
                                    <ul id='dropdown2' class='dropdown-content'>
                                        <li class = "bullet">Select the Account tab</li>
                                        <li class = "bullet">Enter username and password</li>
                                        <li class = "bullet">If you are new and don't have a username or password, select Register at the bottom of the screen.</li>
                                        <li class = "bullet">Enter in your desired username and password</li>
                                        <li class = "bullet">Passwords MUST match, or else an error will occur.</li>
                                        <li class = "bullet">Once all information is entered, select Register.</li>
                                        <li class = "bullet">A confirmation email will be sent to the email provided.</li>

                                    </ul>
                                </alt>-->
                            </a>

                            <a class="carousel-item" href="#three!"><img id="selectingMaps" src="carousel/selectingMaps.png">
                                <!--<alt>
                                    <a class='dropdown-button btn' href='#' data-activates='dropdown3'>Finding Genomes</a>
                                    <ul id='dropdown3' class='dropdown-content'>
                                        <li class = "bullet">Select the Genome Maps tab</li>
                                        <li class = "bullet">Select your desired phages under “Select Phages”</li>
                                        <li class = "bullet">Click “View Map” when you are ready to see the maps of your phages</li>
                                    </ul>
                                </alt>-->
                            </a>


                            <a class="carousel-item" href="#four!"><img id="resortingMaps" src="carousel/sortingMaps.png" style="max-width: 175%; min-height: 125px;">
                                <!--<alt>
                                    <a class='dropdown-button btn' href='#' data-activates='dropdown4'>Resorting and Organizing Your Maps</a>
                                    <ul id='dropdown4' class='dropdown-content'>
                                        <li class = "bullet">Don’t be alarmed when the maps take a while to come up, as there is a lot of information that needs to be downloaded</li>
                                        <li class = "bullet">To rearrange your phages, either click and drag them to the desired location or-</li>
                                        <li class = "bullet">Select the teal hamburger menu at the bottom right of the screen</li>
                                        <li class = "bullet">Click the yellow settings button</li>
                                        <li class = "bullet">Choose whichever way you want to sort and color the phages</li>

                                    </ul>
                                </alt>-->
                            </a>


                            <a class="carousel-item" href="#five!"><img id="downloadingMaps" src="carousel/downloadbutton.png">
                                <!--<alt>
                                    <a class = 'dropdown-button btn' href='#' data-activates='dropdown5'>Downloading Maps</a>
                                    <ul id='dropdown5' class='dropdown-content'>
                                        <li class = "bullet">Click on the teal hamburger menu</li>
                                        <li class = "bullet">Select the purple “download” button</li>
                                        <li class = "bullet">To view immediately in the browser, click the download button</li>
                                        <li class = "bullet">To save the svg onto the computer with a different name, right click the download button and rename it, and save it to your desired file</li>

                                    </ul>
                                </alt>-->
                            </a>
                        </div>

                        <h5>
                            <ul>
                                <li>{{helptext}}</li>
                            </ul>
                        </h5>

                    </div>

    </div>

</template>
