<template name="home" style="background-color: #f5f5f5;">
    <!-- Hero Section -->
    <div class="section hero">
        <div class="row container">
            <h1 class="header" style="color: #2196F3; margin-bottom: 2rem;">Phamerator.org</h1>
            <p class="flow-text" style="font-weight: 300; margin-bottom: 2rem;">Discover and share the story of your
                bacteriophage</p>
            <p>
                Phamerator.org is a comparative genomics tool designed for the study of bacteriophages.
                Originally developed for the SEA-PHAGES program, Phamerator.org is now available to all.
                We currently host several different data sets including the primary SEA-PHAGES data set known as
                Actino_Draft. Nearly all of the {{ genomeCount }} genome sequences and annotations found in Actino_Draft
                are the product of dedicated work performed by the SEA-PHAGES students, teaching assistants, and
                faculty.
                We created Phamerator.org to help them discover and share the story of their phages.
            </p>
            <p>
                Phamerator.org was created by Steven Cresawn's lab in James Madison University's Center for Genome and
                Metagenome Studies and Department of Biology, where it remains under active development.
            </p>
            <div class="cta-section"
                style="margin-top: 4rem; display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                <a href="/phages" class="waves-effect waves-light btn-large teal">Get Started</a>
                <a href="/cresawnlab" class="waves-effect waves btn-large white black-text">Learn More</a>
                <a href="mailto:info@phamerator.org" class="waves-effect waves btn-large purple white-text">Contact
                    Us</a>
            </div>
        </div>
    </div>

</template>