<template name="home">
            <div class="section blue darken-4 white-text text-darken-3">
                <div class="row container">
                    <h2 class="header">Phamerator</h2>
                    <p class="white-text text-darken-1 flow-text">Welcome to the comparative bacteriophage genomics platform for the
                        <a class="blue-text text-lighten-3" href="https://seaphages.org" target="_blank">SEA-PHAGES</a> program.
                        Bacteriophages are genetically diverse and incredibly numerous. Current estimates suggest there are about 10 billion times as many bacteriophages on planet Earth
                        as there are stars in the universe!
                    </p>
                    <p class="white-text text-darken-1 flow-text">
                      Phamerator is our attempt to organize and display what we know about how their genomes relate to one another.
                    </p>
                </div>
            </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/space.jpg"></div>
    </div>

            <div class="section deep-orange darken-4 white-text">
                <div class="row container">
                    <h2 class="header">Meet the Team</h2>
                    <p class="white-text flow-text">
                        Nearly all of the genome sequences and annotations in our database are the product of a decade's hard work performed by the SEA-PHAGES students, faculty, and teaching assistants.
                        We developed Phamerator to help them discover and share the story of their phages.
                    </p>
                    <p class="flow-text">
                        Phamerator is developed by the <a href="cresawnlab">Cresawn lab</a> in James Madison University's Center for Genome and Metagenome Studies.
                    </p>
                </div>
            </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/BlueRidgeCartoonLight.jpg"></div>
    </div>

        <div class="section white">
            <div class="row container">
                <h2 class="header">Volunteers Welcome</h2>
                <p class="grey-text text-darken-2 flow-text">
                    If you would like to help us improve Phamerator, there are several ways that you can get involved.
                    Phamerator is 100% open source with source code available at <a class="blue-text" href="https://github.com/scresawn/Phamerator" target="_blank">GitHub</a>.
                    If you run into a bug, please consider filing an <a class="blue-text" href="https://github.com/scresawn/Phamerator/issues" target="_blank">issue</a> there so we can track and fix the problem.
                    Pull requests are also most welcome. If you have a quick question or just want to talk with other users, just use the chat button at the
                    top of the site.
                </p>
            </div>
        </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/volunteer.png" /></div>
    </div>

</template>
