<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='icon' href='/favicon.ico'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="http://materializecss.com/extras/noUiSlider/nouislider.css" rel="stylesheet">
    <script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>-->

    <title>Phamerator</title>
</head>

<body>
<!-- Modal Structure -->
<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'phamerator/Lobby',
        activationElement: false
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</body>