<template name="newDatabase">
  <div class="section white black-text text-lighten-3">

    <div class = "row">
       <form class = "col s12">
         <div class="row">
           <h3>Add a Database</h3>
         </div>
         <div class="row">
           <div class="input-field col s6">
             <input id="database_name_input" type="text" class="validate">
             <label for="database_name_input">Database Name</label>
           </div>
           <div class="input-field col s6">
             <input id="share_with" type="text" class="validate">
             <label for="share_with">Share with</label>
           </div>

         </div>
         <div class = "row">
           <div class = "file-field input-field">
           <div class = "btn">
             <span>upload a file</span>
             <input type = "file" />
           </div>

           <div class = "file-path-wrapper">
             <input class = "file-path validate" type = "text"
              placeholder = "Upload a .sql file from PhamDB" />
           </div>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>

  </div>

</template>
