<template name="phages">

    {{> mapSettingsModal}}
      {{#if newFeature}}
        {{> featureDiscovery}}
      {{/if}}


    <div id="geneData" class="modal modal-fixed-footer" sytle="overflow:">
        <h4>{{selectedGeneTitle}}</h4>
        <ul class="tabs">
            <li class="tab col s3"><a href="#dna-seq">DNA</a></li>
            <li class="tab col s3"><a href="#protein-seq">Protein</a></li>
            <li class="tab col s3"><a href="#domains">Domains</a></li>
            <li class="tab col s3"><a href="#pham-clusters">Clusters</a></li>
            <li class="tab col s3"><a href="#notes">Notes</a></li>

        </ul>

        <div id="dna-seq">
            <div class="modal-content modal-fixed-footer">
                <!--<span id="gene_dna_seq" style="font-family: monospace; width:90%; word-wrap:break-word; display:inline-block;">{{selectedGene}}</span>-->
                <textarea readonly id="gene_dna_seq">{{selectedGene}}</textarea>
            </div>
            <div class="modal-footer">
                <button id="copy-dna-button" class="waves-effect waves-green btn-flat btn-copy-link" data-clipboard-target="#gene_dna_seq">Copy to Clipboard</button>
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="protein-seq">
            <div class="modal-content">
                <textarea readonly id="gene_protein_seq">
                  {{selectedProtein}}
                <br></br>
              </textarea>
            </div>
            <div class="modal-footer">
                <button id="copy-protein-button" class="waves-effect waves-green btn-flat btn-copy-link" data-clipboard-target="#gene_protein_seq">Copy to Clipboard</button>
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="domains">
        <div class="modal-content">
        <ul class="collapsible" data-collapsible="expandable">
        {{ #each domain in selectedDomains}}
            <li>
                <div class="collapsible-header">{{domain.domainname}}</div>
                <div class="collapsible-body">
                    <ul>
                      <li>
                      <a href={{domain.domainLink}} target="_blank"><i class="material-icons">insert_link</i></a>
                    </li>
                        <li>
                            {{domain.description}}
                        </li>
                    </ul>
                </div>
            </li>

        {{/each}}
        </ul>
        </div>
            <div class="modal-footer">
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="pham-clusters">
            <div class="modal-content">
                <ul class="collapsible" data-collapsible="expandable">
                {{ #each c in selectedClusters}}
                    <li>
                        <div class="collapsible-header">{{c.cluster}}</div>
                        <div class="collapsible-body">
                            <ul>
                                {{#each p in c.phages}}
                                    <li>{{p}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>

                {{/each}}
                </ul>
            </div>

            <div class="modal-footer">
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <div id="notes">
            <div class="modal-content">
                <!--<span id="gene_dna_seq" style="font-family: monospace; width:90%; word-wrap:break-word; display:inline-block;">{{selectedGene}}</span>-->
                <p id="notes">{{selectedGeneNotes}}</p>
            </div>
            <div class="modal-footer">
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

    </div>


      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Toolbar Options</h4>
          <p>
            The menu button on the bottom right of the screen contains options aiding in phage selection.
            Click the button at any time to view menu in toolbar form.
          </p>
        </div>
        <div class=".modal-close">
        </div>
        <div class="modal-footer">
          <a id="okayButton" href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
        </div>
      </div>


    <div class="row">
        <div class="col s12" id="yellow-tabs">
            <!--<div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>-->
                <ul class="tabs yellow lighten-3">
                    <li class="tab col s6 m6 l6"><a class="active black-text" href="#phages-list">Select Phages</a></li>
                    <li class="tab col s6 m6 l6"><a id="viewMapTab" class="black-text" href="#genome-map">View Map</a></li>
                </ul>
        </div>

        <div>
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Search</label>
              </div>
            </div>
          </div>

        <div id="phages-list" class="col s12">
            <!--<a id="clearSelection" class="waves-effect waves-light btn">Clear Selection</a>-->
            <ul id="cluster-list" class="collapsible" data-collapsible="expandable">
            <!--{{#transition in="fadeIn" out="fadeOut"}}-->
                {{#each clusters}}
                    {{> cluster }}
                {{/each}}
            <!--{{/transition}}-->

            </ul>


            <div id="toolbar-phagelist" class="fixed-action-btn toolbar direction-top" style="transition: transform 0.2s; transform: translate3d(0px, 0px, 0px);">
                <a id="menu" class="btn-floating btn-large teal">

                    <i class="material-icons">menu</i>
                </a>
                  <ul>
                      <li class="waves-effect waves-light">
                        <a href="#autocomplete-input" type="search" placeholder="Search..." id="search" style="opacity: 1; color: white; font-size: 15px; padding-top: 2.5px; padding-right: 30px;">
                            <i class="material-icons" style="font-size: 15px; padding-right: 10px;">search</i>Search
                        </a>
                      </li>

                    {{#if genomes_are_selected}}
                        <li class="waves-effect waves-light">
                          <a href="#!" id="clearSelection" class="toolbar-buttons">
                              <i class="tiny material-icons toolbar-icons">clear</i>Clear All
                          </a>
                        </li>
                    {{/if}}

                    {{#if clusters_expanded}}
                        <li class="waves-effect waves-light">
                          <a href="#!" id="collapse_all" class="toolbar-buttons">
                              <i class="tiny material-icons toolbar-icons">do_not_disturb</i>Hide All
                          </a>
                        </li>
                    {{else}}
                    <li class="waves-effect waves-light">
                      <a href="#!" id="expand_all" class="toolbar-buttons">
                          <i class="tiny material-icons toolbar-icons">add_circle_outline</i>Expand All
                      </a>
                    </li>
                    {{/if}}

                </ul>
            </div>
          </div>
        </div>

        <!--<ul id="cluster-cards">
                #each clusters
                    <div class="row">
                    <li>
                        <div class="col s12 l12 m12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <span class="card-title">name</span>
                                    <ul class="collapsible white" data-collapsible="expandable">
                                        cluster
                                    </ul>
                                </div>
                                <div class="card-action">
                                    <a href="http://phagesdb.org/subclusters/name" target="_blank">name on PhagesDB</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    </div>
                /each
        </ul>-->


        <div id="genome-map" class="col s12">
            <svg></svg>

            <div id="toolbar-phagelist" class="fixed-action-btn toolbar direction-top" style="transition: transform 0.2s; transform: translate3d(0px, 0px, 0px);">
                <a id="menu2" class="btn-floating btn-large teal tool">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li class="wave-effect waves-light">
                        <a href="#!" id="download" class="downloadGenomeMap waves-effect waves-light toolbar-buttons">
                            <i class="tiny material-icons center toolbar-icons">system_update_alt</i>Export Genome Map
                        </a>
                    </li>
                    <li>
                        <a href="#!" id="settings" class="mapSettings waves-effect waves-light toolbar-buttons">
                            <i class="tiny material-icons center toolbar-icons">settings</i>Settings
                        </a>
                    </li>



                    <!--
                    <li>
                        <button data-target="mapsettings" class="btn modal-trigger settings waves-effect waves-purple btn-floating yellow">
                            <i class="material-icons left">settings</i>Genome Map Settings
                        </button>
                    </li>-->
                </ul>
            </div>


        </div>
    </div>


</template>



<template name="cluster">

            <li>

                <div class="collapsible-header">
                      <i class="material-icons right more">expand_more</i>
                      <i class="material-icons right less" style="display: none">expand_less</i>

                    <input type="checkbox" id="cluster-{{name}}" data-cluster="{{cluster}}" data-subcluster="{{subcluster}}" class="filled-in clusterCheckbox" checked="{{clusterIsChecked cluster subcluster}}" />
                    <label for="cluster-{{name}}">
                        {{name}}
                    </label>
                    <!--<a><i class="material-icons {{favoriteSubcluster cluster subcluster}} dont-collapse" id="favorite-{{name}}">star</i></a>-->

                    <span class="{{selectedClass cluster subcluster}}" data-badge-caption="{{dataBadgeCaption cluster subcluster}}">{{selectedCount cluster subcluster}}</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                    <p>
                        {{#each p in phageNames}}
                            <div class="col s12 m6 l4">
                                <input type="checkbox" id="{{p}}" class="filled-in phageCheckbox" checked="{{phageIsChecked p}}"/>
                                <label for="{{p}}">{{p}}</label>
                            </div>
                        {{/each}}
                        </p>
                    </div>
                </div>
            </li>



</template>
