<template name="phages">

    {{> mapSettingsModal}}
      {{#if newFeature}}
        {{> featureDiscovery}}
      {{/if}}

    <div id="geneData" class="modal modal-fixed-footer">
        <ul class="tabs">
            <li class="tab col s3"><a href="#dna-seq">DNA</a></li>
            <li class="tab col s3"><a href="#protein-seq">Protein</a></li>
            <li class="tab col s3"><a href="#domains">Domains</a></li>
            <li class="tab col s3"><a href="#pham-clusters">Clusters</a></li>

        </ul>

        <div id="dna-seq">
            <div class="modal-content">
                <!--<span id="gene_dna_seq" style="font-family: monospace; width:90%; word-wrap:break-word; display:inline-block;">{{selectedGene}}</span>-->
                <textarea readonly id="gene_dna_seq">{{selectedGene}}</textarea>
            </div>
            <div class="modal-footer">
                <button id="copy-dna-button" class="waves-effect waves-green btn-flat btn-copy-link" data-clipboard-target="#gene_dna_seq">Copy to Clipboard</button>
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="protein-seq">
            <div class="modal-content">
                <textarea readonly id="gene_protein_seq">{{selectedProtein}}</textarea>
            </div>
            <div class="modal-footer">
                <button id="copy-protein-button" class="waves-effect waves-green btn-flat btn-copy-link" data-clipboard-target="#gene_protein_seq">Copy to Clipboard</button>
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="domains">
        <div class="modal-content">
        <ul class="collapsible" data-collapsible="expandable">
        {{ #each domain in selectedDomains}}
            <li>
                <div class="collapsible-header">{{domain.domainname}}</div>
                <div class="collapsible-body">
                    <ul>
                      <li>
                      <a href={{domain.domainLink}} target="_blank"><i class="material-icons">insert_link</i></a>
                    </li>
                        <li>
                            {{domain.description}}
                        </li>
                    </ul>
                </div>
            </li>

        {{/each}}
        </ul>
        </div>
            <div class="modal-footer">
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="pham-clusters">
            <div class="modal-content">
                <ul class="collapsible" data-collapsible="expandable">
                {{ #each c in selectedClusters}}
                    <li>
                        <div class="collapsible-header">{{c.cluster}}</div>
                        <div class="collapsible-body">
                            <ul>
                                {{#each p in c.phages}}
                                    <li>{{p}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>

                {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <a href="phages" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col s12">
            <!--<div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>-->
                <ul class="tabs yellow lighten-3">
                    <li class="tab col s6 m6 l6"><a class="active black-text" href="#phages-list">Select Phages</a></li>
                    <li class="tab col s6 m6 l6"><a id="viewMapTab" class="black-text" href="#genome-map">View Map</a></li>
                </ul>
        </div>

        <div id="phages-list" class="col s12">
            <!--<a id="clearSelection" class="waves-effect waves-light btn">Clear Selection</a>-->
            <ul id="cluster-list" class="collapsible" data-collapsible="expandable">
            <!--{{#transition in="fadeIn" out="fadeOut"}}-->
                {{#each clusters}}
                    {{> cluster }}
                {{/each}}
            <!--{{/transition}}-->

            </ul>
            <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a id="menu" class="btn-floating btn-large waves-effect waves-light">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    {{#if clusters_expanded}}
                        <li><a id="collapse_all" class="waves-effect waves-yellow btn-floating light-blue darken-1">
                            <i class="material-icons left">remove</i>remove
                        </a></li>
                    {{else}}
                        <li><a id="expand_all" class="waves-effect waves-yellow btn-floating light-blue ">
                            <i class="material-icons left">add</i>search
                        </a></li>
                    {{/if}}
                    {{#if genomes_are_selected}}
                        <li><a id="clearSelection" class="waves-effect waves-yellow btn-floating purple">
                            <i class="material-icons left">clear</i>Clear Selection
                        </a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <!--<ul id="cluster-cards">
                #each clusters
                    <div class="row">
                    <li>
                        <div class="col s12 l12 m12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <span class="card-title">name</span>
                                    <ul class="collapsible white" data-collapsible="expandable">
                                        cluster
                                    </ul>
                                </div>
                                <div class="card-action">
                                    <a href="http://phagesdb.org/subclusters/name" target="_blank">name on PhagesDB</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    </div>
                /each
        </ul>-->

        <div id="genome-map" class="col s12">
            <svg></svg>
            <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a id="menu2" class="waves-effect waves-light btn-floating btn-large">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <button class="downloadGenomeMap waves-effect waves-yellow btn-floating purple">
                            <i class="material-icons left">system_update_alt</i>Export Genome Map
                        </button>
                    </li>
                    <li>
                        <button class="mapSettings waves-effect waves-purple btn-floating yellow">
                            <i class="material-icons left">settings</i>Settings
                        </button>
                    </li>
                    <!--
                    <li>
                        <button data-target="mapsettings" class="btn modal-trigger settings waves-effect waves-purple btn-floating yellow">
                            <i class="material-icons left">settings</i>Genome Map Settings
                        </button>
                    </li>-->
                </ul>
            </div>


        </div>
    </div>


</template>

<template name="cluster">

            <li>

                <div class="collapsible-header">
                    <input type="checkbox" id="cluster-{{name}}" data-cluster="{{cluster}}" data-subcluster="{{subcluster}}" class="filled-in clusterCheckbox" checked="{{clusterIsChecked cluster subcluster}}" />
                    <label for="cluster-{{name}}">
                        {{name}}
                    </label>
                    <!--<a><i class="material-icons {{favoriteSubcluster cluster subcluster}} dont-collapse" id="favorite-{{name}}">star</i></a>-->

                    <span class="{{selectedClass cluster subcluster}}" data-badge-caption="{{dataBadgeCaption cluster subcluster}}">{{selectedCount cluster subcluster}}</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                    <p>
                        {{#each p in phageNames}}
                            <div class="col s12 m6 l4">
                                <input type="checkbox" id="{{p}}" class="filled-in phageCheckbox" checked="{{phageIsChecked p}}"/>
                                <label for="{{p}}">{{p}}</label>
                            </div>
                        {{/each}}
                        </p>
                    </div>
                </div>
            </li>


</template>
