<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic">
</body>
<template name="repeats">
    <div id="mapsettings" class="modal">
        <div class="modal-content">
            <h5>Phamerator Settings</h5>
            <table>
                <tr>
                    <td>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>first sort by</a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                             <li><a class="waves-effect waves-dark" href="#!">Cluster</a></li>
                             <li><a class="waves-effect waves-dark" href="#!">GC %</a></li>
                             <li><a class="waves-effect waves-dark" href="#!">Length</a></li>
                             <li><a class="waves-effect waves-dark" href="#!">Name</a></li>
                         </ul>
                     </td>
                     <td align = "center">
                         <!-- Dropdown Trigger -->
                         <a class='dropdown-button btn' href='#' data-activates='dropdown2'>then sort by</a>
                         <!-- Dropdown Structure -->
                         <ul id='dropdown2' class='dropdown-content'>
                             <li><a class="waves-effect waves-dark" href="#!">Cluster</a></li>
                             <li><a class="waves-effect waves-dark" href="#!">GC %</a></li>
                             <li><a class="waves-effect waves-dark" href="#!">Length</a></li>
                             <li><a class="waves-effect waves-dark" href="#!">Name</a></li>
                         </ul>
                      </td>
                  </tr>
                </table>

                <hr>
            <table>
                  <tr>
                      <td>
                        Show:
                      </td>
                      <td>
                         Color by:
                      </td>
                  </tr>
                  <tr>
                      <div class="switch">
                          <td colspan = 1 rowspan = 1>
                              <label>
                                  <input type="checkbox">
                                  <span class="lever"></span>
                              </label>
                          </td>
                          <td>Conserved Domains</td>
                      </div>
                      <td rowspan = 4>
                          <form action="#">
                              <p>
                                  <input name="colorBy" type="radio" id="Phamily" checked />
                                  <label for="Phamily">Phamily</label>
                              </p>
                              <p>
                                  <input name="colorBy" type="radio" id="Phamily Abundance" />
                                  <label for="Phamily Abundance">Phamily Abundance</label>
                              </p>
                              <p>
                                  <input name="colorBy" type="radio" id="Cluster Conservation"  />
                                  <label for="Cluster Conservation">Cluster Conservation</label>
                              </p>
                              <p>
                                  <input name="colorBy" type="radio" id="%GC" />
                                  <label for="%GC">%GC</label>
                              </p>
                              <p>
                                  <input name="colorBy" type="radio" id="Direction" />
                                  <label for="Direction">Direction</label>
                              </p>
                          </form>
                      </td>
                  </tr>
                  <tr>
                      <div class="switch">
                          <td colspan = 1 rowspan = 1>
                              <label>
                                  <input type="checkbox">
                                  <span class="lever"></span>
                              </label>
                          </td>
                          <td>Nucleotide Conservation</td>
                      </div>
                  </tr>
                <tr>
                    <div class="switch">
                        <td colspan = 1 rowspan = 1>
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </td>
                        <td>Pham Number</td>
                    </div>
                </tr>
                <tr>
                    <div class="switch">
                        <td colspan = 1 rowspan = 1>
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </td>
                        <td>Predicted Function</td>
                    </div>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div class="row">

        <div class="col s12">
            <!--<div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>-->
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#phages-list1">Select Phages</a></li>
                <li class="tab col s3"><a href="#repeat">View Map</a></li>
            </ul>
        </div>
        <div id="repeat" class="col s12">
            <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <button class="downloadRepeatMap waves-effect waves-yellow btn-floating purple">
                            <i class="material-icons left">system_update_alt</i>Export Repeat Map
                        </button>
                    </li>
                    <li>
                        <button data-target="mapsettings" class="btn modal-trigger settings waves-effect waves-purple btn-floating yellow">
                            <i class="material-icons left">settings</i>Repeat Map Settings
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="phages-list1" class="col s12">

            <ul class="collapsible" data-collapsible="expandable">
                {{#each clusters}}
                    {{> cluster }}
                {{/each}}
            </ul>

            <!--<ul id="cluster-cards">
                    #each clusters
                        <div class="row">
                        <li>
                            <div class="col s12 l12 m12">
                                <div class="card hoverable">
                                    <div class="card-content">
                                        <span class="card-title">name</span>
                                        <ul class="collapsible white" data-collapsible="expandable">
                                            cluster
                                        </ul>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://phagesdb.org/subclusters/name" target="_blank">name on PhagesDB</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </div>
                    /each
            </ul>-->
        </div>
    </div>
</template>

<template name="cluster1">
    <li>
        <div class="collapsible-header">
            <input type="checkbox" id="{{name}}" class="filled-in clusterCheckbox" checked="{{clusterIsChecked cluster subcluster}}" />
            <label for="{{name}}">
                {{name}}
            </label>
            <!--<span class="badge">{{selectedCount name}}</span>-->
        </div>
        <div class="collapsible-body">
            <div class="row">
                 <p>
                {{#each p in phageNames}}
                    <div class="col s12 m6 l4">
                        <input type="checkbox" id="{{p}}" class="filled-in phageCheckbox" checked="{{phageIsChecked p}}"/>
                        <label for="{{p}}">{{p}}</label>
                    </div>
                {{/each}}
                     </p>
            </div>
        </div>
    </li>
</template>