<template name="terms">
    <div class="flow-text">
        <h1>Phamerator Terms of Use</h1>

        <p>In the spirit of scientific cooperation, Phamerator.org ("Phamerator") collects and posts data related to bacteriophages.
            Some of this information is published in the public domain (such as GenBank or journal articles) and thus the
            rights and permissions for use of that information are dictated by the publication venue’s terms.</p>

        <p>Other information (“Unpublished Information”) available on Phamerator is not yet published in other public venues,
            and Phamerator and the owners of such information reserve all rights related to the use of that information.</p>

        <p>Users are permitted to access, view, and download material—including Unpublished Information—from Phamerator for personal or classroom use.</p>

        <p>Users may not copy, retransmit, distribute, publish, or commercially exploit Unpublished Information from Phamerator
            without prior consent from Phamerator and the owners of such information.</p>

        <p>The burden of determining the owner and permissibility of use of any information provided by Phamerator rests with the user.</p>

        <p>Specific questions about usage rights and permissions can be sent via our contact form.</p>

        <p>Papers that use substantial information from Phamerator can cite the http://phamerator.org URL.</p>
    </div>
</template>