<template name="terms">
    <div class="container">
        <div class="flow-text">
            <h3>Phamerator and SEA-PHAGES App Terms of Use</h3>

            <p><i>Date of last revision: August 30, 2017</i></p>

            <p>In the spirit of scientific cooperation, Phamerator.org ("Phamerator") collects and posts data related to bacteriophages.
                Some of this information is published in the public domain (such as GenBank or journal articles) and thus the
                rights and permissions for use of that information are dictated by the publication venue’s terms.</p>

            <p>Other information (“Unpublished Information”) available on Phamerator is not yet published in other public venues,
                and Phamerator and the owners of such information reserve all rights related to the use of that information.</p>

            <p>Users are permitted to access, view, and download material—including Unpublished Information—from Phamerator for personal or classroom use.</p>

            <p>Users may not copy, retransmit, distribute, publish, or commercially exploit Unpublished Information from Phamerator
                without prior consent from Phamerator and the owners of such information.</p>

            <p>The burden of determining the owner and permissibility of use of any information provided by Phamerator rests with the user.</p>

            <p>Specific questions about usage rights and permissions can be sent via our contact form.</p>

            <p>Papers that use substantial information from Phamerator can cite the http://phamerator.org URL.</p>

            <h3>Phamerator and SEA-PHAGES App Privacy Policy</h3>

            <p>Our Privacy Policy explains what information we collect, how and why we collect it, how we use that information, and with whom we share that information.</p>

            <h4>Information we collect</h4>

            <p>We collect information in the following ways:</p>

<p><b>Information you give us:</b> Phamerator.org and the SEA-PHAGES App each require you to make an account in order for you to use them. When you do, we’ll ask for information such as an email address and username for your account.
Information we get from your use of our services: We also collection information as you use our app and website. </p>
<p><b>Log information:</b> When you use our services, or view our content, we automatically record some information on our servers. This may include details of how you used our service ( i.e. phage genomes you have selected for viewing on a Phamerator map), your internet protocol address, device event information (crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL, etc.), and cookies that may uniquely identify your browser or your Phamerator Account.</p>

<p><b>Location information:</b> When you use the SEA-PHAGES app, we may collect and process information about your actual location. We use the location services provided by your mobile device's operating system to accomplish this.</p>

<p><b>Local storage:</b> We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.</p>

<p><b>Cookies and similar technologies:</b> We use various technologies to collect and store information when you visit our services, and this may include using cookies or similar technologies to identify your browser or device.
Information we collect when you are signed in to Phamerator.org or the SEA-PHAGES app may be associated with your account. When information is associated with your account, we treat it as personal information.
</p>

<h4>How we use information we collect</h4>

<p>We use the information we collect from all of our services to provide, maintain, protect and improve them, to develop new ones. We also use this information to offer you tailored content, such as notifications when phage genomes that we think will interest you become available.
</p>

<p>We may use the username or real name you provide for your Phamerator.org profile in conjunction with the SEA-PHAGES app, seaphages.org, or phagesdb.org. Your name and photo may be shown to other users of these services.
</p>

<p>When you contact us by email, we may keep a copy of our conversation. We may also use your email address to inform you about our services, such as letting you know about upcoming changes or improvements.
</p>

<p>We use information collected from cookies and other technologies to improve your user experience and the overall quality of our services. We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.
</p>

<h4>Information we share</h4>

<p>We do not share personal information with companies, organizations and individuals outside of SEA-PHAGES without your consent. We may share non-personally identifiable information publicly. For example, we may share information publicly to show trends about the general use of our services.</p>

<h4>Information security</h4>

<p>We work hard to protect our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular, we may encrypt our services using SSL. We also review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.</p>

<h4>When this Privacy Policy applies</h4>

<p>Our Privacy Policy applies to the SEA-PHAGES mobile app and the Phamerator.org website. Our Privacy Policy does not apply to services offered by other companies or individuals, including other sites linked from our services. Our Privacy Policy does not cover the information practices of other companies and organizations who advertise our services, and who may use cookies, pixel tags and other technologies to serve and offer relevant ads.</p>

<h4>Changes</h4>

<p>Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes).</p>
<br>
        </div>
    </div>
</template>
