<template name="account">
    {{#if currentUser}}
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <div class="card-panel white">
                    {{>file}}
                    <span class="purple-text text-darken-2">
                        <h4>{{name}} ({{username}})</h4>
                        <p>{{email}}</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            {{>uploadForm}}
        </div>
    {{/if}}

    <!--<div id="range-input"></div>-->
</template>

<template name="uploadForm">
    {{#if currentUpload}}
        {{#with currentUpload}}
            <!--Uploading <b>file.name</b>:-->
            <!--<span id="progress">progress%</span>-->
        {{/with}}
    {{else}}
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <form action="#">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>upload a picture</span>
                        <input id="fileInput" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                </form>
            </div>
            <!--<span>File</span>
            <input id="fileInput" type="file" />-->

    {{/if}}
</template>

<template name='file'>
    <!--<img src="{{fileURL imageFile}}" alt="{{imageFile.name}}" style="width: 100%" />-->
    <img id="profilepic" src="{{fileURL imageFile}}" alt="{{imageFile.name}}" class="responsive-img">
</template>