<template name="nav">
  <!-- only show this if the current user is the owner -->
  {{#if currentUser}}
    {{ > editDatasetModal}}
    {{ > datasetDropdown }}
  {{/if}}
<!--<div class="navbar-fixed">-->
  <nav class="grey darken-3">
      <div class="nav-wrapper">
          <div id="preloader">
              <div class="preloader-wrapper big active">
                  <div class="spinner-layer spinner-yellow-only">
                      <div class="circle-clipper left">
                          <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                          <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                          <div class="circle"></div>
                      </div>
                  </div>
              </div>
          </div>


            {{#if currentUser}}
              <ul class="left hide-on-med-and-down">
                {{#unless loggingIn}}
                  <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{preferredDataset}}<i class="material-icons right">arrow_drop_down</i></a></li>
                {{/unless}}
                {{#if iAmOwner}}
                  <li><button data-target="editDataset" class="waves-effect waves-light btn modal-trigger">Collaborate</button></li>
                {{/if}}
                </ul>
              {{/if}}

            <ul class="right hide-on-med-and-down">
              <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}" class="waves-effect waves-purple lighten-5">Home</a></li>
              <li class="{{isActiveRoute regex='phages'}}"><a href="{{pathFor 'phages'}}" class="waves-effect waves-purple lighten-5">Genome Maps</a></li>
              {{#if loggedIn}}
                  <li class="{{isActiveRoute regex='account'}}"><a href="{{pathFor 'account'}}" class="waves-effect waves-purple lighten-5">{{displayname}}</a></li>
                  <li style="max-height: 63px"><a href="{{pathFor 'account'}}"><img src="{{fileURL imageFile}}" alt="{{imageFile.name}}" class="thumb_profilepic"></a></li>
              {{/if}}
              <li><a class="js-gitter-toggle-chat-button waves-effect waves-light btn"><i class="material-icons left white-text">chat_bubble</i>Chat</a></li>
              <li>{{> atNavButton }}</li>
          </ul>
      </div>
  </nav>
<!--</div>-->

</template>
